#wrapper {
  height: 600px;
  width:400px;
  background-color: rgb(231, 225, 225);
}
#text-frame {
  height:240px;
  text-align: right;
  width: 100%;

}
#formula_text {
  position: absolute;
  width:400px;
}
#formula_text > p{
  font-size: 20px;
  opacity: 0.5;
}
#input_text {
  position: relative;
  top:90px;
}
#input_text > P {
  font-size: 50px;
}
#main {
  height:360px;
  border-top: 2px solid rgb(83, 82, 82);
}
table {
  width:100%;
  height: 100%;
  text-align: center;
}
td {
  border: 2px solid black;
  width: 20%;
}
td:hover {
  background-color: beige;
}
